.allowance-text {
    font-size: 16px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 991px) {
    .allowance-text {
        font-size: 20px;
    }

    .form-inputs {
        width: 50%;
    }
}